<html>
<head></head>

<body>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="myimage"/>
      <img src="/assets/tenor.gif" id="loading"></img>
    <input type="submit" name="submit" value="submit">
  </form>
  </body>

</html>
